:host {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  & ::ng-deep {
    & .p-tabview-panel {
      width: 100%;
      justify-content: center;
      width: 400px;
    }
    & .p-float-label {
      width: 100%;
      justify-content: center;
    }
    & .p-tabview-nav {
      display: flex;
      width: 100%;
      justify-content: center;
    }
    & p-button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    & .p-button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    /*     & .p-toast-message {
      width: 100%;
      display: flex;
      justify-content: start;
    }
    & .p-toast-message-content {
      width: 200px;
      display: flex;
      justify-content: start;
    }
    & .p-toast-detail {
      width: 200px;
      display: flex;
      justify-content: start;
    } */
  }

  & ::ng-deep & ::ng-deep .p-float-label {
    width: 100%;
    justify-content: center;
  }
}
