@mixin title {
  position: absolute;
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  border: 1px solid var(--medium-gray);
  z-index: 2;
  font-style: italic;
  @media (max-width: 700px) {
    padding: 0.2rem;
    top: -15px;
  }
}
:host {
  width: 100%;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
  min-width: 40%;
  background-color: var(--lighter-gray);
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  z-index: 1;
  box-shadow: 1px 1px 4px var(--medium-gray);
  border-radius: 4px;
  margin-left: auto;

  &__name-title {
    @include title;
    left: 10px;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    & span {
      font-weight: bold;
      padding-left: 5px;
    }
  }
  &__date-title {
    @include title;
    right: 10px;
    top: -12px;
    font-size: 0.7rem;
    font-style: italic;
    @media (max-width: 700px) {
      left: 10px;
      top: 16px;
    }
  }
  @media (max-width: 700px) {
    padding-top: 3rem;
  }
}

.others {
  background-color: var(--light-gray);
  margin-left: 0;
  align-items: start;
}
