<form (ngSubmit)="onSubmit()" class="auth-form" [formGroup]="loginForm">
  <div class="input-container">
    <span class="p-float-label">
      <input pInputText id="email" type="e-mail" formControlName="emailInput">
      <label htmlFor="email">E-mail</label>
    </span>
    <div class="errors-container" *ngIf="email.invalid&&(email.dirty||email.touched)">
      <p class="errors-message" *ngIf="email.errors?.['required']">
        Please enter e-mail.
      </p>
      <p class="errors-message" *ngIf="email.errors?.['email']">
        E-mail is not valid.
      </p>
    </div>
  </div>
  <div class="input-container">
    <span class="p-float-label">
      <input pInputText id="pass" type="password" autocomplete="111"
        formControlName="passInput">
      <label htmlFor="pass">Password</label></span>
    <div class="errors-container"
      *ngIf="password.invalid&&(password.dirty||password.touched)">
      <p class="errors-message" *ngIf="password.errors?.['required']">
        Password cannot be empty.
      </p>
    </div>
  </div>
  <div class="btn-container">
    <p-button type="submit" [disabled]="!loginForm.valid">
      <i class="pi pi-sign-in"></i>
      Login</p-button>
    <p-button [text]="true" type="button" (click)="onTabSwitch()">Have no
      account?</p-button>
  </div>
</form>