header {
  display: flex;
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-gray);
  z-index: 2;

  .header__menu-item {
    display: flex;
    align-items: center;
    width: 100px;
    gap: 0.4rem;
    color: var(--darker-gray);
    text-decoration: none;
    transition: 0.1s;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      color: var(--black);

      // text-decoration: underline;
    }

    &.active {
      color: var(--primary_green);
      text-decoration: underline;
    }
  }
}
.theme-switcher {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--medium-gray);
  font-size: 0.8rem;
  font-style: italic;
  & span {
    cursor: pointer;
  }
  & .chosen {
    color: var(--darker-gray);
    text-shadow: 0 0 2px var(--primary_green);
  }
}

.admin-panel {
  display: flex;
  justify-content: center;
  gap: 2rem;
} //TODO add responsive menu

.logotype {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primary_green);
  font-weight: bold;
  font-size: 1.2rem;
}
