:host {
  & .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  & ::ng-deep .p-menubar-root-list {
    margin-left: 3rem;
  }
  & ::ng-deep .p-menubar {
    width: 100%;
    padding: 1rem 2rem;
  }
}
.active {
  color: red;
}
