<div class="list-container groups">
  <app-title-controls [kind]="titleKinds.GROUPS" (updateContent)="updateContent()"
    (addGroup)="addGroup()" [blockBtn]="blockBtn">Groups
  </app-title-controls>
  <div class="filter-menu">
    <a [ngClass]="filtered?'':'chosen'" (click)="chooseFilter(0)">Show all
      ({{(allGroups|async)?.length}})</a>
    <a [ngClass]="filtered?'chosen':''" (click)="chooseFilter(1)">My groups
      ({{(myGroups|async)?.length}})</a>
  </div>
  <div class="groups__container" *ngIf="allGroups|async as groups">
    <app-group-card *ngFor="let gr of (groups|ownGroups:filtered:(myGroups|async))"
      [groupData]="gr" (deleteGroup)="deleteGroup($event)"></app-group-card>
  </div>
  <app-loading-overlay [show]="(isLoading|async)||false"></app-loading-overlay>
</div>
<div class="list-container people">
  <app-people></app-people>
</div>

<p-dialog header="Enter group name:" [(visible)]="openDialog" [modal]="true"
  [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div class="new-group-dialog-content">
    <input type="text" pInputText [formControl]="groupName">

    <p-button (click)="confirmGroupCreation()" label="Create"
      [disabled]="!groupName.valid"></p-button>
    <p-button label="Cancel" [outlined]="true" (click)="cancelGroupCreation()"></p-button>
  </div>
  <span class="errors-container"
    *ngIf="(groupName.touched || groupName.dirty) && groupName.errors?.['required']">Name
    is
    required</span>
  <span class="errors-container"
    *ngIf="(groupName.touched || groupName.dirty) && groupName.errors?.['maxlength']">Maximum
    30 letters</span>
</p-dialog>

<p-toast position="top-center" key="tc"></p-toast>

<app-confirm-dialog [show]="showConfirm" (confirmEvent)="deleteGroupConfirmed()"
  (cancelEvent)="showConfirm=false">
  Do you really want to delete this group?
</app-confirm-dialog>