@import "assets/style-variables.scss";

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow-y: hidden;
}

.people_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;
  padding: 0.5rem 1rem;
  overflow-y: auto;

  & a {
    display: flex;
    align-items: center;
    padding: 0.4rem 1.5rem;
    background-color: $lighter-gray;
    text-decoration: none;
    color: $darker-gray;
    box-shadow: 1px 1px 4px $medium-gray;
    border-radius: 5px;
    &:hover {
      box-shadow: 1px 1px 5px $primary_green;
      cursor: pointer;
    }
  }
  .mine {
    background-color: $light-gray;
    font-weight: 500;
  }
}
.filter-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  color: $medium-gray;
  font-size: 0.8rem;
  font-style: italic;
  & a {
    cursor: pointer;
  }
  & a.chosen {
    color: $primary_green;
    cursor: default;
  }
}
