@import "assets/style-variables.scss";

:host {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  justify-content: center;
  gap: 1rem;
  & ::ng-deep input {
    width: 100%;
  }
}
.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
  box-shadow: inset 1px 1px 4px $medium-gray;
  padding: 2.5rem 1rem 1rem 1rem;
  overflow-y: auto;
}

.input-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
