:host {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  justify-content: flex-end;
  gap: 1rem;
  z-index: 1;
  & ::ng-deep input {
    width: 100%;
  }
}
.chat-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  //justify-content: flex-end;
  width: 100%;
  gap: 1rem;
  align-items: center;
  box-shadow: inset 1px 1px 4px var(--medium-gray);
  padding: 2.5rem 1rem 1rem 1rem;
  overflow-y: auto;
  height: 72vh;
}

.input-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
