:host {
  position: relative;
  & ::ng-deep .p-button {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.group-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 2rem;
  width: 100%;
  background-color: var(--lighter-gray);
  border-radius: 5px;
  padding: 0.3rem 1.5rem;
  color: var(--darker-gray);
  box-shadow: 1px 1px 4px var(--medium-gray);
  transition: 0.3s;
  color: var(--primary_green);
  &:hover {
    box-shadow: 1px 1px 5px var(--primary_green);
    cursor: pointer;
  }
}

.mine {
  background-color: var(--light-gray);
  font-weight: 500;
}
