<app-title-controls (updateContent)="updateContent()" [blockBtn]="blockBtn">
  <i class="pi pi-user"></i>
  People</app-title-controls>
<div class="filter-menu">
  <div class="search-filter">
    <i class="pi pi-filter"></i>
    <input type="text" pInputText [formControl]="peopleFilterInput"
      (input)="filterPeople()">
  </div>
  <div class="alternative-filters">
    <a [ngClass]="filtered?'':'chosen'" (click)="chooseFilter(0)">Show
      all ({{(people|async)?.length}})</a>
    <a [ngClass]="filtered?'chosen':''" (click)="chooseFilter(1)">My chat
      partners ({{(myConvs|async)?.length}})</a>
  </div>
</div>
<div class="people_container" *ngIf="(people|async) as people">

  <p-toast position="top-center" key="tc"></p-toast>
  <a *ngFor="let user of ((people | chatPartners:filtered:myOpps))|conversationFilter:filterWord"
    (click)="openConversation(user)"
    [ngClass]="myOpps.includes(user.uid)?'mine':''">{{user.name}}</a>
</div>
<p-toast position="top-center" key="tc"></p-toast>

<app-loading-overlay [show]="isLoading"></app-loading-overlay>