:host {
  width: 100%;
  & ::ng-deep {
    & p-fieldset,
    .p-toggleable-content,
    .p-fieldset-content {
      width: 100%;
    }
    & .p-fieldset {
      width: 100%;
      display: flex;
    }
    & .p-fieldset-legend {
      padding: 0px 1rem;
    }
  }
}

.profile-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1rem;
  gap: 1rem;
  position: relative;
  @media (max-width: 1000px) {
    width: 60%;
  }
  @media (max-width: 700px) {
    width: 80%;
  }
}

.page-title {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.connecting-info {
  position: absolute;
  color: green;
  font-size: 0.8rem;
  font-style: italic;
  top: 0px;
}
.not-editable-input-text {
  position: absolute;
  left: 100px;
}

.page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.btns-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  position: relative;
  & ::ng-deep {
    & .p-ripple {
      width: 100%;
    }
    & .btn-edit {
      width: 12vw;
      padding: 1rem;
      @media (max-width: 1000px) {
        width: 22vw;
      }
      @media (max-width: 800px) {
        width: 36vw;
      }
    }
    & .btn {
      width: 80%;
    }
  }
}
.btn {
  width: 80%;
}

.profile-field {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  & span:first-child {
    font-weight: bold;
  }
}

label {
  display: block;
  width: 80px;
  font-weight: bold;
}
.errors {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    top: 30px;
    color: red;
    font-size: 0.7rem;
    font-style: italic;
    right: 60px;
  }
  &-message {
    padding: 0;
    margin-bottom: 0;
  }
}
:host-context(.dark) .errors-container {
  color: rgb(255, 150, 90);
}
